@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container2 {
  position: relative;
  top: 1rem;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
}

table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

td {
  background-color: #fff;
}

button {
  padding: 10px;
  background-color: #5995fd;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #4d84e2;
}

.button-group {
  margin: 20px 0;
}

.button-group button {
  margin: 0 10px;
  padding: 10px;
  background-color: #5995fd;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #4d84e2;
}

@media (max-width: 768px) {
  table {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  table {
    font-size: 0.6rem;
  }
}